* {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: darkslateblue;
    font-size: 16px;
    border-radius: 10px;
    border: 20px;
    padding: 12px 24px;
}

a:hover {
    color: purple;
}

body {
    height: 100%;
    margin: 0;
    display: block;
}

ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
}

p {
    text-align: center;
    padding-bottom: 10px;
}

button:hover {
    background: white;
    color: darkslateblue;
    cursor: pointer;
}

.answer-button {
    flex: 0 1 40px;
    background: darkslateblue;
    color: white;
    padding: 6px 10px;
    border: 10px darkslateblue;
    margin: 10px;
    margin-left: 0px;
    border-radius: 10px;
}

#timer {
    position: absolute;
    top: 0;
    right: 0;
    border: 20px;
    padding: 12px 24px;
}

#container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#question {
    font-size: larger;
    font-weight: bolder;
    text-align: left;
}

#top-left {
    position: absolute;
    top: 0;
    left: 0;
}

#start-button {
    position: absolute;
    background: darkslateblue;
    color: white;
    padding: 6px 10px;
    border: darkslateblue;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%,0);
}

#start-button:hover {
    background: white;
    color: darkslateblue;
    cursor: pointer;
}